@import '~/node_modules/bootstrap/scss/bootstrap.scss';

.MgtTable {
  .card-header {
    color: #a91719;
    background-color: black;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid $dark;
  }
  .card {
    width: 90vw;
  }
  .card-header {
    &:hover {
      cursor: pointer;
    }
  }
  .card-body {
    background-color: black;
  }
  tr:hover {
    cursor: pointer !important;
  }
}
